.logo {
  a {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    h2 {
      font-family: $ff-accent;
      font-weight: 700;
      font-size: rem(43.25);
      margin-left: rem(11.27);
    }
  }
}

.cta-filled {
  background-color: $light-green;
  color: $dark-blue;
  padding: rem(16) rem(56) rem(16) rem(56);
  font-size: rem(20);
  font-weight: 700;
  border-radius: rem(56);
  border: 0;

  &:hover {
    cursor: pointer;
  }
}

.cta-outline {
  background-color: transparent;
  color: $dark-blue;
  padding: rem(8) rem(40) rem(8) rem(40);
  font-size: rem(20);
  font-weight: 700;
  border: solid rem(2) $dark-blue ;
  border-radius: rem(24);
  transition: background-color 500ms, color 500ms;

  &:hover {
    cursor: pointer;
    background-color: $dark-blue;
    color: $white;
  }
}


.badge {
  background-color: $light-green;
  color: $dark-blue;
  font-weight: 700;
  font-size: 13px;
  padding: rem(7) rem(14);
  border-radius: rem(120);
}