footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 7%;


  @media (min-width: $breakpoints-small) {
    flex-direction: row;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(50);
    gap: rem(50);
    width: 100%;

    p {
      color: $grey;
    }

    @media (min-width: $breakpoints-small) {
      width: 50%;
      margin-bottom: 0;
    }

  }
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;

  @media (min-width: $breakpoints-small) {
    flex-direction: row;
  }

  .footer-nav {
    h5 {
      font-weight: 700;
      font-size: rem(20);
    }

    ul {
      height: rem(172);
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;

      li {
        a {
          color: $grey;
        }
      }
    }
  }
}
