footer {
    nav {
        display: flex;
        justify-content: space-around;

        .footer-nav {
            h5 {
                font-weight: 700;
                font-size: rem(20);
            }

            ul {
                height: rem(172);
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;

                li {
                    color: $grey;
                }
            }
        }
    }
}