header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu-mobile {
    &:hover {
      cursor: pointer;
    }

    @media (min-width: $breakpoints-medium) {
      display: none;
    }
  }

  nav {
    display: none;

    @media (min-width: $breakpoints-medium) {
      display: block;
    }

    ul {
      display: flex;
      justify-content: space-between;
      gap: rem(40);

      li {
        font-weight: 700;
        color: $dark-blue;
      }
    }
  }
}