header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4%;

    nav {
        width: max-content;
        z-index: 99;

        ul {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            //width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(100%);

            @media (min-width: $breakpoints-medium) {
                position: relative;
                flex-direction: row;
                gap: rem(40);
                height: auto;
                transform: none;
            }

            &.is-open {
                padding: 0 rem(15);
                transform: none;
                backdrop-filter: blur(rem(4));
                border-left: rem(1) solid $dark-blue;
            }

            li {
                font-size: rem(16);
                color: $dark-blue;
                font-weight: 600;
            }
        }

        .burger-menu {
            display: block;
            position: relative;
            z-index: 1;

            user-select: none;

            &.is-active {
                &:hover  {
                    span {
                        background-color: $dark-blue;
                    }
                }

                span:nth-child(1) {
                    transform: translate(0, rem(-2)) rotate(45deg);
                }

                span:nth-child(2) {
                    opacity: 0;
                    transform: translateX(rem(-15));
                }

                span:nth-child(3) {
                    transform: translate(rem(-3), rem(3)) rotate(-45deg);
                }
            }

            &:hover {

                span:nth-child(2) {
                    transform: translateX(rem(-10));
                    background-color: $grey;
                }
            }

            span {
                display: block;
                width: rem(33);
                height: rem(4);
                margin-bottom: rem(5);
                position: relative;

                background-color: $black;
                border-radius: rem(6);
                z-index: 1;

                transform-origin: 0 0;

                transition: 0.4s;
            }

            @media (min-width: $breakpoints-medium) {
                display: none;
            }
        }
    }
}