main {

  .hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(43);

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: rem(20);
      }

      h1 {
        font-size: rem(64);
        line-height: rem(84);
        text-align: center;

        @media (max-width: $breakpoints-small) {
          font-size: rem(50);
        }
      }
    }

    article {
      width: 100%;
      margin-top: rem(70);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $breakpoints-medium) {
        flex-direction: column;
      }

      .hero-banner-art-img {
        img {
          width: 100%;
          aspect-ratio: auto;
        }
      }

      .hero-banner-art-content {
        width: 45%;

        @media (max-width: $breakpoints-medium) {
          width: 100%;
          margin-top: 10%;
        }

        .hero-banner-art-text {
          margin-bottom: rem(20);

          p {
            color: $grey;
            margin-bottom: rem(12);

            strong {
              color: $dark-blue;
            }
          }

          h2 {
            font-size: rem(48);
            line-height: rem(72);

            @media (max-width: $breakpoints-small) {
              width: 100%;
              font-size: rem(25);
              line-height: rem(40);
            }
          }
        }

        .hero-banner-art-author {
          display: flex;
          align-items: center;
          gap: rem(12);
        }
      }
    }
  }

  hr {
    background-color: $dark-blue;
    height: rem(3);
    margin-bottom: rem(95);
    margin-top: rem(70);
  }

  .article-card-container {
    margin: 0 10% 0 10%;
    .article-row {
      display: flex;
      justify-content: space-between;
      margin-top: rem(34);

      @media (max-width: $breakpoints-medium) {
        flex-direction: column;
      }
    }

    .card {
      width: rem(300);

      @media (max-width: $breakpoints-medium) {
        margin-top: 8%;
      }

      .card-img {
        width: 100%;
        margin-bottom: rem(24);
      }

      .card-info {
        .card-text {
          margin-bottom: rem(24);

          h4 {
            margin-top: rem(12);
            font-size: rem(20);
            line-height: rem(32);
          }
        }

        .card-author {
          display: flex;
          align-items: center;
          gap: rem(12);
        }

      }
    }


    .button-container {
      width: 100%;
      text-align: center;
      margin-top: rem(78);
    }
  }

  .contact {
    margin-top: rem(34);
    margin-bottom: rem(185);

    article {
      padding: rem(72) rem(190);
      background-color: $dark-blue;
      border-radius: rem(12);
      display: flex;
      align-items: center;
      flex-direction: column;


      h4 {
        color: $white;
        font-size: rem(48);
        line-height: rem(72);
        text-align: center;
      }

      .contact-form {
        margin-top: rem(50);
        display: flex;
        flex-direction: row;

        @media (max-width: $breakpoints-medium){
          flex-direction: column;
          align-items: center;
        }

        label {
          display: none;
        }

        input {
          border-radius: rem(240);
          height: rem(56);
          width: rem(370);
          margin-right: rem(24);
          padding-left: rem(32);

          @media (max-width: $breakpoints-medium){
            margin-bottom: 7%;
          }
        }
      }
    }

  }
}